.container
  .case_studies.content
    %h2.main
      Case Studies
      
    %p
      Core Resource contains many points of configuration in order to accomodate the idiosyncracies of different APIs. 
      We've written up analyses of some of the more popular APIs out there so you can see how they can be applied.
      Each of the APIs on this site also has a corresponding (and usually fairly basic) example project in the Core Resource repository,
      so you should be able to open it up in Xcode and get hopping nice and quickly!

    %ul.main
      - CASE_STUDIES.each do |case_study|
        - url = "/case-studies/#{case_study}"
        %li.main
          %a{ :href => url }
            %img{ :src => "/images/case-study-#{case_study}.png" }
          :markdown 
            #{case_study_read(case_study, :summary) + " [More...](#{url})"}
