.container
  .case_studies.content
    %h2.main
      Case Studies

    %ul.main
      - CASE_STUDIES.each do |case_study|
        - url = "/case-studies/#{case_study}"
        %li.main
          %a{ :href => url }
            %img{ :src => "/images/case-study-#{case_study}.png" }
          = case_study_md case_study, :summary, " [More...](#{url})"
