.container
  .community.content
    %ul.main

      %li.main
        %h3
          Issue tracking
        %p
          View, follow, and create tickets at our <a href="http://coreresource.lighthouseapp.com" class="lighthouse">Lighthouse page</a>
          
      %li.main
        %h3
          Discussion & suggestions
        %p
          Ask questions and make suggestions at our <a href="http://getsatisfaction.com/coreresource" class="getsatisfaction">Get Satisfaction page</a>
