.container
  .documentation.content
    %ul.main

      %li.main
        %h3
          %a{ :href => '/quick-start' }
            Quick Start
        %p
          Get Core Resource installed and rolling in just a few minutes with our Quick Start tutorial.

      %li.main
        %h3
          %a{ :href => '/case-studies' }
            Case Studies
        %p
          Compare APIs from across the Internet and see how Core Resource can be configured to work with them.
        
      %li.main
        %h3
          %a{ :href => '/topics' }
            Topics
        %p
          Get answers for specific domain questions like HTTP configuration and deserialization.
