.banner
  .back
    .container
      .span-15.append-1
        %h1 Core Resource
        %hr
        %p
          Local & remote resource management for Objective-C in as little code as possible.
      .span-8.last.note
        %p
          Yep, it's <b class="heavy">alpha</b>.
        %p
          But we're aiming for an April 15th beta release that will rock your socks off, 
          so stay tuned and <a href="http://github.com/mikelaurence/CoreResource"> watch us at GitHub</a>!
        %p
          .button
            %a{ :href => '/quick-start', :class => 'button' }
              Quick Start
          &nbsp;
          .button
            %a{ :href => '/case-studies', :class => 'button' }
              Case Studies
      
.index.content
  .container
    .span-15.append-1
      %p
        Admit it: Objective-C is verbose and finnicky.
      %h2
        So why repeat yourself?
      %p
        Core Resource leverages awesome existing frameworks and provides deep interaction with web services
        through conventions and syntactic sugar.
      %ul
        %li
          Make easy calls to web services with minimal configuration:
          %pre
            %code
              [Note findAll:$D(@"Buster", @"author", @"createdAt DESC", @"$sort")];
        %li
          Automatically store serialized resources locally using Core Data, object relationships intact.
        %li
          Rapidly build high-performance, resource-based table views with CoreTableController:
          %pre
            %code
              [self fetchForRelatedResource:parent withSort:@"lastName ASC"];
        
    .span-8.last
      %aside.centered
        Lighthouse ticket viewer app for Core Resource.
        %br
        %b
          Built in 3 hours at Chicago's <a href="http://dayofmobile.com">Day of Mobile</a>.
      %img{ :src => 'images/app-lighthouse-body.png' }