.container
  .topics.content
    %h2.main
      Topics

    %dl.main
      - TOPICS.each do |topic|
        %dt 
          %a{ :name => "/topics##{topic}" }= topic.capitalize.gsub(/\-/, ' ').gsub(/http/i, 'HTTP')
        %dd 
          :markdown
            #{File.read("views/topics/#{topic}.md")}